{
  "openapi": "3.1.0",
  "info": {
    "title": "MedxDashboard API",
    "version": "1.2",
    "description": "HR management platform for UAE organizations. Generated from docs/build/spec.mjs. Permissions are listed in x-permission as resource:action."
  },
  "servers": [
    {
      "url": "https://api.medxpharmacy.com/api/v1",
      "description": "Production (NestJS)"
    },
    {
      "url": "http://localhost:4000/api/v1",
      "description": "Local NestJS"
    }
  ],
  "tags": [
    {
      "name": "Authentication & Security",
      "description": "Email/password sign-in with JWT sessions, account lockout, password policy, role-based permissions with data scopes, and sensitive-field masking."
    },
    {
      "name": "Dashboard",
      "description": "One role-aware dashboard: an organization view for HR/Finance/Admin, a team view for managers and a self-service view for employees."
    },
    {
      "name": "Employee Management",
      "description": "Central employee directory and a 360° profile: personal, employment, IDs & bank, compensation, documents, attendance, leave, performance, assets and history."
    },
    {
      "name": "Organization Structure",
      "description": "Company, branches/locations, departments, teams, designations with salary bands, cost centers and an interactive organization chart."
    },
    {
      "name": "Recruitment / ATS",
      "description": "Job requisitions with approval, a drag-and-drop candidate pipeline, interview scheduling and scorecards, offers, and one-click conversion of a hire into an employee with onboarding."
    },
    {
      "name": "Onboarding",
      "description": "A 15-task checklist per new joiner grouped by owner (HR, IT, Manager, Employee) with a 7-step progress stepper."
    },
    {
      "name": "Attendance, Timesheets & Shifts",
      "description": "Web/mobile/GPS/QR check-in with grace, late and overtime rules; daily view, monthly register, corrections with approval, reports, project timesheets and shift templates."
    },
    {
      "name": "Leave & Holidays",
      "description": "Leave requests with manager → HR approval, balances with monthly accrual and carry forward, a team leave calendar and a configurable UAE holiday calendar."
    },
    {
      "name": "Payroll (UAE)",
      "description": "Monthly payroll calculated from salary structure, attendance, leave, overtime, loans and adjustments; approve → lock → pay; payslips; WPS SIF export; salary register."
    },
    {
      "name": "Final Settlement & Gratuity",
      "description": "Calculator for end-of-service benefits under UAE law plus pending salary, leave salary and recoveries, saved as an approvable statement."
    },
    {
      "name": "Performance, Goals & Promotions",
      "description": "Goals/OKRs at company, department and individual level, review cycles with self and manager scores, KPIs with achievement, and promotions/salary revisions with approval."
    },
    {
      "name": "Expense Management",
      "description": "Expense claims with receipts, a two-step approval (manager → finance) and reimbursement tracking."
    },
    {
      "name": "Documents & UAE Expiry Tracking",
      "description": "Central document store for employee and company documents with versioning, verification and colour-coded expiry tracking for passports, Emirates ID, visas, work permits, contracts, insurance and licences."
    },
    {
      "name": "Asset Management",
      "description": "Company equipment register with assignment, warranty, condition and maintenance history."
    },
    {
      "name": "Training & Development",
      "description": "Training programs with calendar, seats, budget, certification and enrollments."
    },
    {
      "name": "HR Helpdesk",
      "description": "Ticketing for HR requests with priorities, SLA timers, assignment, conversation threads and resolution."
    },
    {
      "name": "Employee Relations & Engagement",
      "description": "Confidential case management for grievances and disciplinary actions; recognition wall, awards and engagement surveys."
    },
    {
      "name": "Announcements & Notifications",
      "description": "Company announcements with categories, priority, audience and pinning; in-app notifications for every workflow event."
    },
    {
      "name": "Offboarding & Exit",
      "description": "Resignation submission, manager and HR approval, notice period, a nine-item clearance checklist and exit completion that revokes system access."
    },
    {
      "name": "Reports & Analytics",
      "description": "20+ pre-built reports with charts and CSV export, and an analytics dashboard for workforce, attendance, recruitment and payroll."
    },
    {
      "name": "Audit Logs & Settings",
      "description": "Immutable audit trail of sensitive actions and configuration for company, HR policies, attendance, leave, payroll, notifications, security, workflows, users, roles and integrations."
    },
    {
      "name": "Help Center",
      "description": "In-app video guides and step-by-step documentation for every module, available to all users."
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication & Security"
        ],
        "summary": "Sign in. Returns access token and sets refresh cookie. Locks the account after too many failures.",
        "operationId": "post_auth_login",
        "x-permission": "public",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ email, password }"
            }
          },
          "description": "{ email, password }"
        },
        "responses": {
          "200": {
            "description": "{ accessToken, user: { id, email, name, role, employeeId } }"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Authentication & Security"
        ],
        "summary": "Rotate the refresh token and issue a new access token.",
        "operationId": "post_auth_refresh",
        "x-permission": "refresh cookie",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ accessToken }"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Authentication & Security"
        ],
        "summary": "Revoke the refresh token and clear cookies.",
        "operationId": "post_auth_logout",
        "x-permission": "signed in",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "Authentication & Security"
        ],
        "summary": "Current user, linked employee, permission matrix and team member IDs.",
        "operationId": "get_auth_me",
        "x-permission": "signed in",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ user, employee, permissions, teamIds }"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/auth/change-password": {
      "post": {
        "tags": [
          "Authentication & Security"
        ],
        "summary": "Change own password (policy enforced).",
        "operationId": "post_auth_change_password",
        "x-permission": "signed in",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ currentPassword, newPassword }"
            }
          },
          "description": "{ currentPassword, newPassword }"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "tags": [
          "Authentication & Security"
        ],
        "summary": "Email a single-use reset link (always returns 200).",
        "operationId": "post_auth_forgot_password",
        "x-permission": "public",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ email }"
            }
          },
          "description": "{ email }"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "tags": [
          "Authentication & Security"
        ],
        "summary": "Set a new password with a reset token.",
        "operationId": "post_auth_reset_password",
        "x-permission": "public",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ token, newPassword }"
            }
          },
          "description": "{ token, newPassword }"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/auth/mfa/setup": {
      "post": {
        "tags": [
          "Authentication & Security"
        ],
        "summary": "Generate a TOTP secret and QR code.",
        "operationId": "post_auth_mfa_setup",
        "x-permission": "signed in",
        "x-status": "planned",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ otpauthUrl, qrDataUrl }"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/auth/mfa/verify": {
      "post": {
        "tags": [
          "Authentication & Security"
        ],
        "summary": "Confirm a TOTP code and enable 2FA.",
        "operationId": "post_auth_mfa_verify",
        "x-permission": "signed in",
        "x-status": "planned",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ code }"
            }
          },
          "description": "{ code }"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/auth/sessions": {
      "get": {
        "tags": [
          "Authentication & Security"
        ],
        "summary": "List own active sessions.",
        "operationId": "get_auth_sessions",
        "x-permission": "signed in",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/auth/sessions/{id}": {
      "delete": {
        "tags": [
          "Authentication & Security"
        ],
        "summary": "Sign out a session remotely.",
        "operationId": "delete_auth_sessions_id",
        "x-permission": "signed in",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/roles": {
      "get": {
        "tags": [
          "Authentication & Security"
        ],
        "summary": "List roles and their permission matrix.",
        "operationId": "get_roles",
        "x-permission": "users:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/roles/{id}/permissions": {
      "put": {
        "tags": [
          "Authentication & Security"
        ],
        "summary": "Replace a role's permissions.",
        "operationId": "put_roles_id_permissions",
        "x-permission": "users:manage",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "[{ resource, actions[], scope }]"
            }
          },
          "description": "[{ resource, actions[], scope }]"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/dashboard": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Aggregated KPIs and widgets for the caller's scope. `mode` is org, team or self.",
        "operationId": "get_dashboard",
        "x-permission": "dashboard:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ mode, kpis{…}, widgets{…}, me{…} }"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/directory": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Lightweight company directory (no sensitive fields) used for pickers, names and the org chart.",
        "operationId": "get_directory",
        "x-permission": "signed in",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Global search across employees and pages (Cmd/Ctrl + K).",
        "operationId": "get_search",
        "x-permission": "signed in",
        "x-status": "planned",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/employees": {
      "get": {
        "tags": [
          "Employee Management"
        ],
        "summary": "List employees (paginated, filterable, scoped to the caller's access)",
        "operationId": "get_employees",
        "x-permission": "employees:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departmentId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "designationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "managerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employmentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workMode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "salaryMin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "salaryMax",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "post": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Create a employee",
        "operationId": "post_employees",
        "x-permission": "employees:create",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ firstName, lastName, workEmail, departmentId, designationId, managerId?, locationId, employmentType, joiningDate, salary{basic,housing,transport,medical,other}, createLogin?, loginRole? }"
            }
          },
          "description": "{ firstName, lastName, workEmail, departmentId, designationId, managerId?, locationId, employmentType, joiningDate, salary{basic,housing,transport,medical,other}, createLogin?, loginRole? }"
        },
        "responses": {
          "201": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/employees/{id}": {
      "get": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Get one employee",
        "operationId": "get_employees_id",
        "x-permission": "employees:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "patch": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Update a employee",
        "operationId": "patch_employees_id",
        "x-permission": "employees:edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "Any editable field (partial)"
            }
          },
          "description": "Any editable field (partial)"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "delete": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Delete a employee (soft delete where noted)",
        "operationId": "delete_employees_id",
        "x-permission": "employees:delete",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/employees/{id}/salary-history": {
      "get": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Effective-dated salary structures and revisions.",
        "operationId": "get_employees_id_salary_history",
        "x-permission": "compensation:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/employees/{id}/salary": {
      "put": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Change the salary structure (creates a new effective-dated row; audited as 'Salary Updated').",
        "operationId": "put_employees_id_salary",
        "x-permission": "compensation:edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ basic, housing, transport, medical, otherAllowances, effectiveFrom }"
            }
          },
          "description": "{ basic, housing, transport, medical, otherAllowances, effectiveFrom }"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/employees/{id}/bank-account": {
      "put": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Set salary bank account.",
        "operationId": "put_employees_id_bank_account",
        "x-permission": "employees:edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ bankName, iban, routingCode }"
            }
          },
          "description": "{ bankName, iban, routingCode }"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/employees/{id}/emergency-contacts": {
      "put": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Replace emergency contacts.",
        "operationId": "put_employees_id_emergency_contacts",
        "x-permission": "employees:edit (own allowed)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/employees/{id}/avatar": {
      "post": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Upload profile photo (multipart).",
        "operationId": "post_employees_id_avatar",
        "x-permission": "employees:edit (own allowed)",
        "x-status": "planned",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/employees/{id}/timeline": {
      "get": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Activity timeline: changes, approvals, cases, recognitions.",
        "operationId": "get_employees_id_timeline",
        "x-permission": "employees:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/employees/export": {
      "get": {
        "tags": [
          "Employee Management"
        ],
        "summary": "CSV/XLSX export of the filtered directory.",
        "operationId": "get_employees_export",
        "x-permission": "employees:export",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/employees/import": {
      "post": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Bulk import from CSV/XLSX with validation report.",
        "operationId": "post_employees_import",
        "x-permission": "employees:create",
        "x-status": "planned",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/company": {
      "get": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Company profile.",
        "operationId": "get_company",
        "x-permission": "signed in",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "put": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Update company profile.",
        "operationId": "put_company",
        "x-permission": "settings:edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/locations": {
      "get": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "List branches / locations (paginated, filterable, scoped to the caller's access)",
        "operationId": "get_locations",
        "x-permission": "locations:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "post": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Create a branch",
        "operationId": "post_locations",
        "x-permission": "locations:create",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ branchNo, name, type, status, city, address, email, phone, mapUrl, refNo1, refNo2, openingHours{mon..sun:{open,close,closed,allDay}}, managerId, notes }"
            }
          },
          "description": "{ branchNo, name, type, status, city, address, email, phone, mapUrl, refNo1, refNo2, openingHours{mon..sun:{open,close,closed,allDay}}, managerId, notes }"
        },
        "responses": {
          "201": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/locations/{id}": {
      "get": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Get one branch",
        "operationId": "get_locations_id",
        "x-permission": "locations:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "patch": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Update a branch",
        "operationId": "patch_locations_id",
        "x-permission": "locations:edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "Any editable field (partial)"
            }
          },
          "description": "Any editable field (partial)"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Delete a branch (soft delete where noted)",
        "operationId": "delete_locations_id",
        "x-permission": "locations:delete",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/locations/{id}/employees": {
      "put": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Assign employees to a branch or remove them.",
        "operationId": "put_locations_id_employees",
        "x-permission": "employees:edit (all scope)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ add?: employeeId[], remove?: employeeId[] }"
            }
          },
          "description": "{ add?: employeeId[], remove?: employeeId[] }"
        },
        "responses": {
          "200": {
            "description": "{ ok, staff: employeeId[] }"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/departments": {
      "get": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "List departments (paginated, filterable, scoped to the caller's access)",
        "operationId": "get_departments",
        "x-permission": "departments:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "post": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Create a department",
        "operationId": "post_departments",
        "x-permission": "departments:create",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ name, code, managerId, locationId, budget, costCenter, description }"
            }
          },
          "description": "{ name, code, managerId, locationId, budget, costCenter, description }"
        },
        "responses": {
          "201": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/departments/{id}": {
      "get": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Get one department",
        "operationId": "get_departments_id",
        "x-permission": "departments:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "patch": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Update a department",
        "operationId": "patch_departments_id",
        "x-permission": "departments:edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "Any editable field (partial)"
            }
          },
          "description": "Any editable field (partial)"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Delete a department (soft delete where noted)",
        "operationId": "delete_departments_id",
        "x-permission": "departments:delete",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/teams": {
      "get": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "List teams (paginated, filterable, scoped to the caller's access)",
        "operationId": "get_teams",
        "x-permission": "departments:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "post": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Create a team",
        "operationId": "post_teams",
        "x-permission": "departments:create",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ departmentId, name, leadId }"
            }
          },
          "description": "{ departmentId, name, leadId }"
        },
        "responses": {
          "201": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/teams/{id}": {
      "get": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Get one team",
        "operationId": "get_teams_id",
        "x-permission": "departments:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "patch": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Update a team",
        "operationId": "patch_teams_id",
        "x-permission": "departments:edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "Any editable field (partial)"
            }
          },
          "description": "Any editable field (partial)"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Delete a team (soft delete where noted)",
        "operationId": "delete_teams_id",
        "x-permission": "departments:delete",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/designations": {
      "get": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "List designations (paginated, filterable, scoped to the caller's access)",
        "operationId": "get_designations",
        "x-permission": "designations:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "post": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Create a designation",
        "operationId": "post_designations",
        "x-permission": "designations:create",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ title, level, departmentId, minSalary, maxSalary, requiredSkills[], description }"
            }
          },
          "description": "{ title, level, departmentId, minSalary, maxSalary, requiredSkills[], description }"
        },
        "responses": {
          "201": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/designations/{id}": {
      "get": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Get one designation",
        "operationId": "get_designations_id",
        "x-permission": "designations:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "patch": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Update a designation",
        "operationId": "patch_designations_id",
        "x-permission": "designations:edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "Any editable field (partial)"
            }
          },
          "description": "Any editable field (partial)"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Delete a designation (soft delete where noted)",
        "operationId": "delete_designations_id",
        "x-permission": "designations:delete",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/org-chart": {
      "get": {
        "tags": [
          "Organization Structure"
        ],
        "summary": "Reporting tree (optionally for one department).",
        "operationId": "get_org_chart",
        "x-permission": "signed in",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "departmentId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "List job requisitions (paginated, filterable, scoped to the caller's access)",
        "operationId": "get_jobs",
        "x-permission": "jobs:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "post": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "Create a job requisition",
        "operationId": "post_jobs",
        "x-permission": "jobs:create",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ title, departmentId, designationId, vacancies, locationId, employmentType, minSalary, maxSalary, experience, skills[], hiringManagerId, closingDate, description }"
            }
          },
          "description": "{ title, departmentId, designationId, vacancies, locationId, employmentType, minSalary, maxSalary, experience, skills[], hiringManagerId, closingDate, description }"
        },
        "responses": {
          "201": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "Get one job requisition",
        "operationId": "get_jobs_id",
        "x-permission": "jobs:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "patch": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "Update a job requisition",
        "operationId": "patch_jobs_id",
        "x-permission": "jobs:edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "Any editable field (partial)"
            }
          },
          "description": "Any editable field (partial)"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "delete": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "Delete a job requisition (soft delete where noted)",
        "operationId": "delete_jobs_id",
        "x-permission": "jobs:delete",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/jobs/{id}/approve": {
      "post": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "Approve and publish a requisition.",
        "operationId": "post_jobs_id_approve",
        "x-permission": "jobs:approve",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/jobs/{id}/hold": {
      "post": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "Put an open job on hold.",
        "operationId": "post_jobs_id_hold",
        "x-permission": "jobs:edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/jobs/{id}/reopen": {
      "post": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "Reopen a held/closed job.",
        "operationId": "post_jobs_id_reopen",
        "x-permission": "jobs:edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/jobs/{id}/close": {
      "post": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "Close a job.",
        "operationId": "post_jobs_id_close",
        "x-permission": "jobs:edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/candidates": {
      "get": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "List candidates (paginated, filterable, scoped to the caller's access)",
        "operationId": "get_candidates",
        "x-permission": "candidates:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "post": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "Create a candidate",
        "operationId": "post_candidates",
        "x-permission": "candidates:create",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ fullName, email, phone, jobId, source, experienceYears, expectedSalary, skills[], tags[], recruiterId, notes }"
            }
          },
          "description": "{ fullName, email, phone, jobId, source, experienceYears, expectedSalary, skills[], tags[], recruiterId, notes }"
        },
        "responses": {
          "201": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/candidates/{id}": {
      "get": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "Get one candidate",
        "operationId": "get_candidates_id",
        "x-permission": "candidates:view",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "patch": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "Update a candidate",
        "operationId": "patch_candidates_id",
        "x-permission": "candidates:edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "Any editable field (partial)"
            }
          },
          "description": "Any editable field (partial)"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      },
      "delete": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "Delete a candidate (soft delete where noted)",
        "operationId": "delete_candidates_id",
        "x-permission": "candidates:delete",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/candidates/{id}/move": {
      "post": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "Move to another pipeline stage (reason required for Rejected).",
        "operationId": "post_candidates_id_move",
        "x-permission": "candidates:edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{ stage, reason? }"
            }
          },
          "description": "{ stage, reason? }"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Business rule conflict"
          }
        }
      }
    },
    "/candidates/{id}/hire": {
      "post": {
        "tags": [
          "Recruitment / ATS"
        ],
        "summary": "Convert to employee + create onboarding checklist.",
        "operationId": "post_candidates_id_hire",
        "x-permission": "employees:create",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No permission or record outside your scope"
          },
          "404": {
            "description": "Not found"
          },
[...]
